* {
    margin: 0;
}
.login {
   
    background-color: white;
    display: grid;   
    place-items: center;

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login__container {
    align-items: center;
    margin: 10% 25% 25% 25%;
    
    height: 200vh;
    padding: 150px;
    text-align: center;
    background:rgb(233, 233, 233);
    border-radius: 25px;
   
    
    /* flex-direction: column; */
    width:  fit-content;
    height: fit-content;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    padding: 20px;

  }
  .login__container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
  }

  .login__buttons{

    display: flex;
   
  }
  .login__form > Button{

    background-color: #0467FB  !important;
    color: white !important;
  }
  
  .login__buttons > Button{
    margin: 20px;
    background-color: #0467FB  !important;
    color: white !important;
  }
  .login__buttons > Button > :disabled{
    background-color: grey  !important;
  }

  
  .login__form > h5 {
    margin-bottom: 5px;
  }
  
  .login__form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
  }
  
  .login__container > p {
    margin-top: 15px;
    font-size: 12px;
  }

  .button{
    background-color: transparent;
    border: 1.5px solid #0b3653;
    border-radius: 2em;
    font-size:15px;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    cursor: pointer;
  }


  .button1{
    background-color:rgb(14, 14, 105);
    border: 1.5px solid #0b3653;
    border-radius: 2em;
    font-size:15px;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    margin-top: 20px;
    width: 150px;
    height: 40px;
    color: #f1f1f1;
    cursor: pointer;
  }


  button:hover {
    color: rgb(255, 255, 255);
    background-color:rgb(14, 14, 105);
    border:1.5px solid #080808;
    transition: all ease-in-out 350ms;
}

.input{
  width: 350px;
  height: 30px;
  margin-right: 20px;
  
}

input:hover{
border-color: #073d61;
transition: all ease-in-out 350ms;
 
}

.background{
  height: 95vh;
  opacity: 98%;
  background-position: center center;
	background-repeat:  no-repeat;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
footer{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background:linear-gradient(rgb(67, 192, 201),rgb(19, 35, 107));
}

footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color:white;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 29px;
  font-weight: 100;
  color:#060c38;
 font-family: 'Raleway', sans-serif;
  margin-bottom: 16px;

}
footer .content p{
  text-align: justify;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-right: 80px;
}

footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #0f0505;
  background: white;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px ;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: white;
  background:#060c38;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #0a245e;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  white;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 10px;
  margin: 3px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color:  #42f5f2;
  color: #42f5f2;
}
footer .bottom{
  width: 100%;
  text-align: right;
  color: white;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  color: white;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #05386B;

}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}
